dask-expr==1.1.7
fastapi==0.111.1
httptools==0.6.1
linkify-it-py==2.0.3
mdit-py-plugins==0.4.1
openpyxl==3.1.5
pipdeptree==2.23.1
PyMuPDF==1.24.7
watchfiles==0.22.0
websockets==12.0
weaviate-client==4.6.7
langchain==0.2.12
langgraph==0.1.9
langchain_community==0.2.11
openai==1.35.14
tqdm==4.66.4
streamlit==1.37.0
werkzeug==3.0.3
openbb==4.3.0
jose==1.0.0
pyjwt==2.8.0
passlib==1.7.4
langchain-openai==0.1.20
llmsherpa==0.1.4
google-api-core==2.19.2
google-api-python-client==2.143.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
googleapis-common-protos==1.65.0
langchain-google-community==1.0.8
llama-index-readers-google==0.4.0
boto3==1.35.12

