dask-expr
alembic
fastapi
httptools
linkify-it-py
mdit-py-plugins
openpyxl
pipdeptree
PyMuPDF
watchfiles
websockets
weaviate-client
langchain
langgraph
langchain_community
openai
tqdm
streamlit
werkzeug
openbb
jose
pyjwt
passlib
langchain-openai
llmsherpa
pydantic
SQLAlchemy
sqlalchemy_utils
mysqlclient
pdfminer
pdfminer.six
boto3
fastapi_cors
httpx
xmltodict
python-dateutil
