.task-modal {
  background-color: #1f1e23;
  color: #fff;
  padding: 20px;
  border-width: 0px;
  border: none;
  border-radius: 10px;
  max-width: 100%; /* Dynamic width */
  width: 800px; /* Ensure some width so it doesn't shrink excessively */
  box-sizing: border-box; /* Ensures padding doesn't affect the width */
}

.task-modal:focus {
  outline:0;
}

.task-modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  border: none;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border-width: 1px;
  border-color: #46464f;
  background-color: #212126;
  color: #fff;
}

.ant-select-selection {
  background-color: green;
}

textarea {
  resize: none;
}

.modal-actions {
  display: flex;
  justify-content: flex-end;
}

.modal-actions button {
  margin-left: 20px;
  margin-top: 10px;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.modal-actions button:first-child {
  background-color: #303038;
  color: #fff;
}

.modal-actions button:last-child {
  background-color: white;
  color: black;
}

.custom-select>option {
  background-color: #2c2c2c; /* This won't be visible in many browsers */
  color: #fff;
  border: none;
  outline: none;
  border-radius: 10px;
}